@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    padding: 5% 7%;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header ul {
    display: flex;
    gap: 40px;
}

.header a {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    transition: 0.3s;
}

.header ul a:hover {
    color: var(--soft-red);
}

.main {
    display: grid;
    grid-template-areas:
    "main-new main-new aside"
    "articles articles articles";
    gap: 40px;
}

.main-new {
    grid-area: main-new;
}

.main-new > div {
    display: flex;
    gap: 50px;
}

.main-new img {
    width: 100%;
    margin-bottom: 30px;
}

.main-new h1 {
    color: var(--very-dark-blue);
    font-size: 3rem;
    font-weight: 800;
}

.main-new p {
    color: var(--dark-grayish-blue);
}

.main-new .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro a {
    padding: 20px 40px;
    font: 700 1rem 'Inter', sans-serif;
    color: var(--off-white);
    background: var(--soft-red);
    align-self: flex-start;
    text-transform: uppercase;
    transition: 0.3s;
}

.intro a:hover {
    background: var(--very-dark-blue);
}

.aside {
    grid-area: aside;
    background-color: var(--very-dark-blue);
    padding: 30px;
}

.aside h1 {
    color: var(--soft-orange);
    font-size: 2.3rem;
    margin-bottom: 30px;
}

.aside section {
    display: flex;    
    flex-direction: column;
    gap: 30px;
    color: var(--off-white);
}

.aside h2 {
    margin-bottom: 10px;
}

.aside p {
    margin-bottom: 30px;
}

.articles {
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.articles article {
    display: flex;
    gap: 25px;
    align-items: center;
}

.articles img {
    width: 40%;
}

.articles h2 {
    color: var(--grayish-blue);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.articles h3 {
    color: var(--very-dark-blue);
    font-weight: 800;
    margin-bottom: 20px;
}

.articles p {
    color: var(--dark-grayish-blue);
}

input {
    display: none;
}